img{
    width: 30%;
    height: 30%;
}

p{
    font-size: large;
    font-weight: bold;
}

.gagItem{
    border-radius: 25px;
    border: 2px solid lightgrey;
    margin-top: 40px;
    background-color: rgb(131, 125, 133);
}